{% load cms_tags sekizai_tags %}
{% load menu_tags %}

<html>
    <head>
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}

        <ul>
            {% show_menu 0 100 100 100 %}
        </ul>
        {% show_breadcrumb %}
        {% language_chooser %}

        {% placeholder base_content %}

            {% block base_content %}{% endblock base_content %}

        {% render_block "js" %}
    </body>
</html>
